html {
  scroll-behavior: smooth;
}

.background-description-70s {
  background-image: url("../img/patterns-70s.webp");
  background-size: cover;
  padding:50px 0px;
}

.background-description-60s {
  background-image: url("../img/patterns-60s.webp");
  background-size: cover;
  padding:50px 0px;
}

.background-description-50s {
  background-image: url("../img/patterns-50s.webp");
  background-size: cover;
  padding:50px 0px;
}

.background-description-50s p {
  background-color: white;
  font-family: 'asap';
  font-weight: 100;
  font-size: 6px;
  text-align: center;
}

.background-description-60s p {
  background-color: white;
  font-family: 'asap';
  font-weight: 100;
  font-size: 6px;
  text-align: center;
}

.background-description-70s p {
  background-color: white;
  font-family: 'asap';
  font-weight: 100;
  font-size: 6px;
  text-align: center;
}

body {
  margin: auto;
  max-width: 375px;
}

h1 {
  font-family: 'asap';
  color: black;
  font-weight: 200;
  font-size: 27px;
  text-align: center;
}

header img {
  max-width: 70px;
}

header nav {
  background-color: black;
}

nav a {
  color: white;
  font-family: 'asap';
  font-size: 15px;
  text-decoration: none;
}

header p {
  background-color: #E1EFF3;
  font-family: 'asap';
  font-weight: 100;
  font-size: 14px;
  text-align: center;
}

main {
  background-color: white;
  padding-top: 10px;
}

img {
  max-width: 300px;
}

.product img{

}

.button {
  font-family: 'asap';
  font-size: 15px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.nav-footer {
  background-color: #D9F3FF;
}

.nav-footer a {
  color: black;
  border: solid black 1px ;
}

footer hr {
  border: solid white 1px;
}

footer a {
  font-family: 'asap';
  font-size: 15px;
  color: white;
  text-decoration: none;
}

footer h1 {
  color: white
}

footer {
  background-color: black;
}