html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
}

.background-description-70s {
  background-image: url("../img/patterns-70s.webp");
  background-size: cover;
  padding:50px 0px;
}

.background-description-60s {
  background-image: url("../img/patterns-60s.webp");
  background-size: cover;
  padding:50px 0px;
}

.background-description-50s {
  background-image: url("../img/patterns-50s.webp");
  background-size: cover;
  padding:50px 0px;
}

.background-description-50s p {
  background-color: white;
  font-family: 'asap';
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  padding: 12px 19px;
  margin: 30px;
  border-radius: 20px;
}

.background-description-60s p {
  background-color: white;
  font-family: 'asap';
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  padding: 12px 19px;
  margin: 30px;
  border-radius: 20px;
}

.background-description-70s p {
  background-color: white;
  font-family: 'asap';
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  padding: 12px 19px;
  margin: 30px;
  border-radius: 20px;
}

body {
  margin-top: auto;
  max-width: 375px;
}

h1 {
  font-family: 'asap';
  color: black;
  font-weight: lighter;
  font-size: 25px;
  text-align: center;
  margin: auto;
  padding-bottom: 22px;
}

header {
  background-color: black;
}

header img {
  max-width: 70px;
}

header nav {
  background-color: black;
}

nav a {
  color: white;
  font-family: 'asap';
  font-size: 22px;
  text-decoration: none;
}

header p {
  background-color: #E1EFF3;
  font-family: 'asap';
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  padding: 34px 77px;
  margin: auto;
}

main {
  background-color: white;
  margin-right: 50px;
  margin-left: 50px;
}

img {
  max-width: 100%;
  display: block;
  margin: 10px 0;
}

.product img{
  max-width: 100%;
  display: block;
  margin: 10px 0;
}

.button {
  font-family: 'asap';
  font-size: 22px;
  color: white;
  text-decoration: none;
  background-color: black;
  font-weight: lighter;
  text-align: center;
  border-radius: 32px;
  padding: 10px;
  margin: 15px 0px 31px;
  display: inline-block;
  padding: 14px 21px;
}

.nav-footer {
  background-color: #D9F3FF;
  padding-top: 22px;
  padding-bottom: 30px;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-footer a {
  color: black;
  border: solid black 2px;
  border-radius: 26px;
  padding: 10px 20px;
}

footer hr {
  border: solid white 1px;
}

footer a {
  font-weight: lighter;
  font-family: 'asap';
  font-size: 15px;
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

footer h1 {
  color: white
}

footer {
  background-color: black;
  padding-bottom: 20px;
}

h2 {
  font-family: 'asap';
  color: black;
  font-weight:500;
  font-size: 27px;
  text-align: center;
}

ul {
  font-family: 'asap';
  color: black;
  font-weight:500;
  font-size: 19px;
  text-align: left;
}

.button-buy {
  font-family: 'asap';
  font-size: 22px;
  color: white;
  text-decoration: none;
  background-color: black;
  font-weight: lighter;
  text-align: center;
  border-radius: 41px;
  padding: 9px 19px;
  width: 163px;
}

.button-other-product {
  color: black;
  border: solid black 2px;
  text-decoration: none;
  text-align: center;
  border-radius: 40px;
  padding: 7px 13px;
  font-family: 'asap';
  font-size: 22px;
  width: 150px;
}

.container-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

header a {
  font-size: 18px;
}

header p {
  padding-top: 30px;
  margin: auto;
}

footer h1 {
  padding-top: 24px;
  padding-bottom: 22px;
}

main h1 {
  padding-top: 35px;
}

.container-product {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  align-items: center;
}